body {
  background-color: 9a0000;
  margin-bottom: 0px;
}

.text {
	margin-top: 190px;
	padding-bottom:20px;
	margin-left: 47%;
	margin-right: 20%;
	font-family: Arial;
	color: #FFF;
	font-size: 16px;
	transform: rotate(2deg);
}

.feature{
    height: 20px;
    width: 20px;
	
}
.feature:before {
	z-index: 10;
    position: absolute;
    content: '';
    top: 100px;
	margin-left: 40%;
	margin-right: 50%;
    height: 20%;
    width: 25%;
    transform: rotateX(-114deg) rotateZ(177deg);
    box-shadow: 5px 6px 24px 0;
}

.feature:after {
	z-index: 10;
  position: absolute;
  top: -350px;
  left: 20px;
  bottom: -250px;
  content: '';
  height: 20px; 
  width: 20px; 
  transform: rotateX(45deg) rotateZ(80deg);
}
